body {
  height: 500vh;
  --mainColor: #ff206e;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--mainColor);
}

.projects .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: var(--mainColor);
}
